.weather-app {
    width:inherit;
    height: auto;
}

.app-intro {
    font-size: large;
    text-align: center;
    margin-top: 20px;
}
.unitSelection {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.selection {
    color: #1a0dab;
    font-weight: 600;
}